@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #0F172C;
}

header a {
    color: #6B63BE;
    text-decoration: none;
    font-size: 20pt;
}

header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.0rem 1.5rem;
}

nav {
    position: absolute;
    right: 2rem;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    color: #929CAB;
    text-decoration: none;
    font-size: 16pt;
}

nav ul li a:hover {
    color: #79828fff;
    transition: color 0.3s ease;
}

.welcome {
    width: fit-content;
    background-color: #1B1C49;
    border-radius: 25px;
    padding: 0.75rem 2rem;
    justify-content: center;
    border: 1px solid #32289C;
    margin: 12rem auto 0 auto;
}

.welcome > h3 {
    font-weight: 400;
    font-size: 16pt;
    color: #828ED2;
}

h1 {
    font-size: 90pt;
    color: #D6DBE3;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
}

.herodesc {
    font-size: 30pt;
    color: #7E8DA5;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
}

.herodesc > span {
    color: #7C73DC;
}

.herolist {
    font-size: 17pt;
    font-weight: 400;
    color: #728199;
    text-align: center;
    margin-top: 2rem;
}

.arrowdown {
    color: #697790;
    width: 40px;
    height: 40px;
}

.iconwrapper {
    text-align: center;
    margin-top: 3rem;
}

.herochar {
    display: inline-flex;
    margin: 1rem auto 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.herochar > div {
    background-color: #1B1644;
    margin: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 35px;
    border: 1px solid #1E1B4E;
}

.herochar > div > p {
    font-size: 16pt;
    color: #7680C2;
}

.subtitle {
    font-size: 16pt;
    color: #3B4896;
    text-align: center;
    font-weight: 400;
    margin-top: 4rem;
}

.title {
    font-size: 56pt;
    color: #B0B6C1;
    text-align: center;
    font-weight: 400;
    margin-top: 1rem;
}

.aboutcontain1 {
    display: inline-flex;
    padding: 2rem auto;
    margin: 4rem auto 0 auto;
}

.aboutcontain1 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5rem 0 0;
}

.aboutcontain1 > div > p {
    color: #48586C;
    font-size: 16pt;
    font-weight: 400;
}

.aboutcontain1 > div > p > span {
    color: #4B4793;
}

.aboutcontain1 > img {
    margin: 0 5rem 0 5rem;
    max-width: 600px;
    height: auto;
    border-radius: 25px;
}

.overview {
    display: inline-flex;
    padding: 2rem 5rem;
    margin: 4rem auto 5rem auto;
    width: 100%;
    gap: 2rem;
    justify-content: center;
}

.overview > div {
    background-color: #151F33;
    border-radius: 10px;
    border: 1px solid #222F45;
    padding: 2rem;
    flex: 1;
}

.overviewtitle {
    font-size: 16pt;
    color: #7D848B;
    margin-top: 1rem;
}

.overviewsubtitle {
    font-size: 12pt;
    color: #4A5A6F;
    margin-top: 1rem;
}

.description {
    font-size: 15pt;
    color: #49586C;
    margin-top: 1rem;
    text-align: center;
}

.projects {
    display: inline-flex;
    padding: 2rem 5rem;
    margin: 4rem auto 15rem auto;
    width: 100%;
    gap: 2rem;
    justify-content: center;
}

.projects > div {
    background-color: #141E32;
    border-radius: 10px;
    border: 1px solid #202C42;
    padding: 2rem;
}

.protitle {
    font-size: 16pt;
    color: #80858D;
    margin-top: 1.5rem;
}

.prodesc {
    font-size: 13pt;
    color: #4C5D71;
    margin-top: 2rem;
}

.proskill {
    margin-top: 4rem;
    display: inline-flex;
    gap: 1.5rem;
    width: 100%;
}

.proskill > div {
    background-color: #304057;
    border-radius: 5px;
    border: 1px solid #222E44;
    padding: 0.25rem 0.75rem;
}

.proskill > div > p {
    font-size: 12pt;
    color: #717F93;
}

.viewdetail {
    margin-top: 2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.viewdetail > a {
    text-decoration: none;
    color: #4350A2;
    font-size: 12pt;
}

.viewdetail > a:hover {
    color: #253080ff;
    transition: color 0.3s ease;
}

.viewdetail > img {
    width: 10px;
    height: auto;
}

.skills {
    display: inline-flex;
    gap: 2rem;
    width: 100%;
    margin: 4rem auto 0 auto;
    padding: 0 5rem;
}

.skills > div {
    background-color: #141E32;
    border-radius: 10px;
    border: 1px solid #212E44;
    padding: 2rem;
    width: 100%;
}

.skills > div > p {
    margin-top: 1.5rem;
    font-size: 14pt;
    color: #707882;
}

.skills > div > ul {
    margin-left: 1rem;
    margin-top: 2rem;
}

.skills > div > ul > li {
    font-size: 12;
    color: #646F82;
    margin: 1rem 0;
}

.programming li::marker {
  color: #00A1F0;
  font-size: 1.2em;
  content: "• ";
}

.design li::marker {
  color: #9B4CFA;
  font-size: 1.2em;
  content: "• ";
}

.system li::marker {
  color: #4472F9;
  font-size: 1.2em;
  content: "• ";
}

.experienceplus {
    text-align: center;
    margin-top: 3rem;
    font-size: 15pt;
    color: #445368;
}

.experiencedata {
    display: inline-flex;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto 15rem auto;
    justify-content: center;
}

.experiencedata > div {
    background-color: #1D293D;
    border-radius: 30px;
    border: 1px solid #1A253B;
    padding: 0.5rem 1rem;
}

.experiencedata > div > p {
    font-size: 12pt;
    color: #6A7789;
    text-align: center;
}

.contactcontainer {
    display: inline-flex;
    gap: 2rem;
    width: 100%;
    margin: 4rem auto 0 auto;
    padding: 0 5rem;
    justify-content: center;
    margin-bottom: 10rem;
}

.namailcontainer {
    display: inline-flex;
    gap: 2rem;
}

.opento {
    font-size: 13pt;
    color: #445468;
    width: 20vw;
    margin-bottom: 2rem;
}

.contactscontainer {
    display: inline-flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    width: 100%
}

.contactscontainer > div {
    background-color: #151F32;
    border-radius: 10px;
    border: 2px solid #202B40;
    padding: 1rem 2rem;
    display: inline-flex;
    gap: 1rem;
    align-items: center;
}

.contitle {
    font-size: 12pt;
    color: #798087;
}

.conuser {
    font-size: 11pt;
    color: #44546A;
    margin-top: 0.25rem;
}

.namailcontainer > div > input {
    margin-top: 0.5rem;
    background-color: #1D293D;
    padding: 0.5rem;
    outline: none;
    border: none;
    color: #606C80;
    font-size: 11pt;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    width: 100%;
}

.namailcontainer > div > input::placeholder {
    color: #565D67;
    font-size: 11pt;
    font-family: Inter, sans-serif;
}

.message {
    background-color: #1D293D;
    padding: 0.5rem;
    outline: none;
    border: none;
    color: #606C80;
    font-size: 11pt;
    font-family: Inter, sans-serif;
    margin-top: 0.5rem;
    width: 100%;
    height: 70px;
}

.message::placeholder {
    color: #565D67;
    font-size: 11pt;
    font-family: Inter, sans-serif;
}

.messagetitle {
    font-size: 12pt;
    color: #798087;
    margin-top: 2rem;
}

.sendmessage {
    display: inline-flex;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #5039F7, #7F22FE);
    padding: 0.5rem 2rem;
    gap: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.sendmessage::active {
    opacity: 0.8;
    transition: background-image 0.3s ease;
}

.sendmessage > p {
    color: #B99FFC;
    font-size: 10pt;
}